# Base dependencies
-r requirements.txt

# Test tools
pytest                  # Testing framework
pytest-cov              # Plugin for measuring code coverage with pytest
coveralls>=1.1          # Upload code coverage reports to Coveralls service